@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

body {
  background-color: #1d1d1d !important;
  color: #ffffff !important;
}

h2 {
  color: #08fdd8;
  font-size: 4rem !important;
  line-height: 6rem !important;
  margin-bottom: 2.5rem !important;
}